@model long
@{
    ViewData["Title"] = "Details";
}



<h1>@ViewData["Title"]</h1>

<div class="parameter-main">

</div>

@section scripts{
    <script>
        function load() {
            $(".parameter-main").load("/Dashboard/CarPartial/@Model")
        }
        $(function () {
            setInterval(load, 5000);
        });
        load();
    </script>
}